:root {
    --color-p-text: #757575;
    --color-h-text: #212121;
    --color-link: #2196F3;
    --color-sect-bg: #2F303A;
    --color-bg: #FFFFFF;
    --font-size-logo: 26px;
    --font-family: "Roboto", sans-serif;
    
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
}

img{
    display: block;
}

body{
    margin: 0;
}

.body-home{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
    
}

.body-portfolio{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
}
/* for all LI*/
ul {
    list-style: none;
}

a {
    text-decoration: none;   
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
    /* -----webLogo----*/
.web-logo{
    margin-right: -4px;
    display: inline-block;
}

.web-footer{
    margin-right: -4px;
    display: inline-block;
}

   /*---------------Headr BG--------------*/
.header-bg{
    background-color:var(--color-bg);
    border-bottom: 1px solid #f5f4fa;
    

}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    align-items: center;
    height: 80px;
}

.header-nav{
    display: inline-flex;
    align-items: center;
}

.menu-nav{
    display: inline-flex;
    margin-left: 93px;
}

.menu-nav-text{
    margin-right: 50px;
    display: inline-flex;
}

.menu-addres{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-addres-text{
    margin-right: 50px;
    display: inline-flex;
}


    /*Logo nav*/
.web-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--color-link)
}
  /*Logo nav-2*/
.studio-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:#000000;
}
   /*---------------- <nav>------------ */
.nav-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    color:var(--color-h-text);
    
}

.nav-link-f{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    color:var(--color-link)
}

.nav-link:focus, .nav-link:hover{
   color: var(--color-link);
}
  /* <nav> address */
.address-link{
    color:var(--color-p-text);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
}
.address-link:focus, .address-link:hover{
    color:var(--color-link);
}

   /* ------------------section-1 ------------------*/
.sec-bg{
    background-color: var(--color-sect-bg);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}
  /* h1 section-1 */
.effect-design{
    font-family: "Roboto", sans-serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 696px;
}
  /* --------button section-1---------- */
.button-service{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    background-color:#188ce8;
    color: var(--color-bg);
    text-align: center;
    align-items: center;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
}
  
.button-service:focus, .button-service:hover{
  color:var(--color-bg);
  background-color:#0f9bec
}


   /*---------------------- details------------------- */
.menu-list{
    padding-top: 94px;
}

   .details{
    padding-bottom: 0px;
    display: flex;
    
 }

 .details-list{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
 }
 
   .menu-list h3{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-h-text);
    margin-bottom: 10px;
}
   /* details text */
.work-item{
    display: flex;
}

.work-img{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

 .menu-list p{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-p-text);
    
}
     /* what we do */
 .work-list h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-h-text);
    text-align: center;
}
     /* ------------------team -------------------*/
.team h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-h-text);
    text-align: center;
    margin-bottom: 50px;

}
.team{
    background-color:#F5F4FA ;
}

.team-list p{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color:var(--color-p-text);
    text-align: center;
}
.team-list h3{ 
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--color-h-text);
    text-align: center;
}

.team-list{
    display: flex;
    
}

.team-detail{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    border-radius: 0px 0px 4px 4px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name{
    padding: 30px;
}
     /* ---------------------Footer BG------------------- */
.footer-bg{
    background-color: var(--color-sect-bg);
    padding-top: 60px;
    padding-bottom: 60px;

}
     /* Footer Logo */
.web-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-link);
}

.studio-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-bg);
}
     /* Footer address */
.address-footer{
    color:#FFFFFF60;
    ;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.address-footer:focus, .address-footer:hover{
    color:rgba(255, 255, 255, 0.6)
    }

.address-map{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: white;
    
}

.address-map:focus, .address-map:hover{
    color: var(--color-link);
}

.adr-menu{
  margin-top: 20px;
}

.mail-tel{
    margin-top: 9px;
    margin-left: -40px;
}


/*---------------------- portfolio------------------- */

    /*---- btn-portfolio -----*/

.portfolio-sec{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btns{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-btns-list:not(:last-child) {
    margin-right: 8px;
}

.portf-btn{
     cursor: pointer;
    background-color:#F5F4FA;
    color:var(--color-h-text);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
}
    
.portf-btn-f{ 
    cursor: pointer;
    color:var(--color-bg);
    background-color: var(--color-link);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
}

.portf-btn:focus, .portf-btn:hover{
    color:var(--color-bg);
    background-color: var(--color-link);
}
    
.portfolio-bg{
    background-color: #FFFFFF;
}

.portfolio-menu h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-h-text);
}

.portfolio-menu p{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color:var(--color-p-text)
}

.hidden-menu{
    display: none;
    
}